---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
Below you can find a list of my publications, with links to the full papers.

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

*Healthcare Applications of 0-1 Neural Networks in Prescriptive Problems with Observational Data*  
with: Yonatan Mintz
Health Care Management Science (2026) <a href="https://link.springer.com/article/10.1007/s10729-025-09751-5" style="font-style: normal;">(Link)</a>, <a href="https://vmpatil.github.io/files/pnn.pdf" style="font-style: normal;">(pdf)</a>   


