---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
Below you can find a list of my publications, with links to the full papers whenever available.

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

Author order is alphabetical by last name unless otherwise noted by (*).

## Preprints

* _Computing a Nonnegative Dyadic Solution to a System of Linear Equations_ <br/> 
Gérard Cornuéjols, Anthony Karahalios, Vrishabh Patil  <br/>
Submitted to Mathematical Programming Computation. [(Link)](https://vmpatil.github.io/files/example.pdf)

## Journal Publications

* _Healthcare Applications of 0-1 Neural Networks in Prescriptive Problems with Observational Data_ <br/>
Vrishabh Patil, Kara Hoppe, Yonatan Mintz (*) <br/>
Health Care Management Science, 2026. [(Link)](https://link.springer.com/article/10.1007/s10729-025-09751-5) [(pdf)](https://vmpatil.github.io/files/pnn.pdf)


## Conference Publications

* _The Chv\'atal Rank of 2-Dimensional Integer-Free Polyhedra_ <br/>
Gérard Cornuéjols, Vrishabh Patil <br/>
9th International Symposium on Combinatorial Optimization, 2026. (To appear) [(pdf)](https://vmpatil.github.io/files/chvatal2d.pdf)

 <!-- <a href="https://link.springer.com/article/10.1007/s10729-025-09751-5" style="font-style: normal;">(Link)</a>, <a href="https://vmpatil.github.io/files/pnn.pdf" style="font-style: normal;">(pdf)</a>    -->


